body {margin: 0%; padding: 0%; background-color: black;}

#introasesorias 
 {background-color: red; display: flex;
justify-content: center;
flex-wrap: wrap; 
} 
#AO  {color: rgba(255, 255, 255, 0.831);display: flex; justify-content: start;font-size: xx-large;margin: 10%;padding: 0%;}
#AO2  {color: rgba(0, 0, 0, 0.929);display: flex; justify-content: center;font-size: x-large;margin: 0%;padding: 0%;}



#texto1 {background-color: black; color: white;font-style: italic;}
.junto  {color: white; display: flex; justify-content: center;margin: 1%;padding: 0%;;}
.cambio {display: flex;justify-items: center;align-items: center;}
#kevinlevroneA  {display: flex; justify-content: center;align-items: center;float: left; }

#texto2 { color: white;display: flex;justify-content: center;}

#RS {background-color: white; 
    display: flex;justify-content: center; align-items: center; 
    font-family: Arial, Helvetica, sans-serif;font-weight: bold;
list-style: none;
text-decoration: none;
color: white;font-size: larger;
}